.c1 {
    background-image: linear-gradient(
      150deg,
      rgb(0, 176, 158),
      rgb(19, 77, 93),
      rgb(16, 23, 31)
    );
    border: 3px solid rgb(0, 176, 158);
  }
  .c2 {
    background-color: #bd4f6c;
    background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
    border: 3px solid #d7816a;
  }
  .c3 {
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    border: 3px solid #ffa69e;
  }
  .c4 {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    border: 3px solid #a4508b;
  }
  .c5 {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    border: 3px solid #01baef;
  }
  .c6 {
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    border: 3px solid #7cffcb;
  }
  .c7 {
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    border: 3px solid #d98324;
  }
  .c8 {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 3px solid #380036;
  }
  .c9 {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    border: 3px solid #e58c8a;
  }
  .c10 {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    border: 3px solid #80ff72;
  }
  .c11 {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    border: 3px solid #7ee8fa;
  }
  .c12 {
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border: 3px solid #ec9f05;
  }
  .c13 {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    border: 3px solid #9fa4c4;
  }
  .c14 {
    background-color: #9fa4c4;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    border: 3px solid #9e768f;
  }
  .c15 {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    border: 3px solid #8693ab;
  }
  .c16 {
    background-color: #d387ab;
    background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
    border: 3px solid #b279a7;
  }
  .c17 {
    background-color: #e899dc;
    background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
    border: 3px solid #d387ab;
  }
  .c18 {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    border: 3px solid #0d324d;
  }
  .c19 {
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    border: 3px solid #b91372;
  }
  .c20 {
    background-color: #772f1a;
    background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    border: 3px solid #f2a65a;
  }
  .c21 {
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    border: 3px solid #a7acd9;
  }
  .c22 {
    background-color: #ebbe9b;
    background-image: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%);
    border: 3px solid #e7a977;
  }
  .c23 {
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    border: 3px solid #ff928b;
  }
  .c24 {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    border: 3px solid #233329;
  }
  .c25 {
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    border: 3px solid #29524a;
  }
  .c26 {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    border: 3px solid #a71d31;
  }
  .c27 {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border: 3px solid #009ffd;
  }
  .c28 {
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    border: 3px solid #5aff15;
  }
  .c29 {
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    border: 3px solid #fc575e;
  }
  .c30 {
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
    border: 3px solid #fc575e;
  }
  .c31 {
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    border: 3px solid #fb8085;
  }
  .c32 {
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    border: 3px solid #3eadcf;
  }
  .c33 {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    border: 3px solid #a88beb;
  }
  .c34 {
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
    border: 3px solid #f1a7f1;
  }
  .c35 {
    background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
    border: 3px solid #ffd8cb;
  }
  .c36 {
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
    border: 3px solid #ff8489;
  }
  .c37 {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    border: 3px solid #f9d976;
  }
  .c38 {
    background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    border: 3px solid #fb7ba2;
  }
  .c39 {
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    border: 3px solid #37d5d6;
  }
  .c40 {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    border: 3px solid #b0f3f1;
  }
  .c41 {
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    border: 3px solid #b58ecc;
  }
  .c42 {
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
    border: 3px solid #d99ec9;
  }
  
  .c44 {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    border: 3px solid #f5f7fa;
  }
  .c45 {
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    border: 3px solid #647dee;
  }
  .c46 {
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    border: 3px solid #f6f0ea;
  }
  .c47 {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border: 3px solid #83eaf1;
  }
  .c48 {
    background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
    border: 3px solid #f6d285;
  }
  .c49 {
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    border: 3px solid #e5bdf6;
  }
  .c50 {
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    border: 3px solid #e8dbfc;
  }
  .c51 {
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    border: 3px solid #bbdbbe;
  }
  .c52 {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    border: 3px solid #0bab64;
  }
  .c53 {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    border: 3px solid #09c6f9;
  }
  .c54 {
    background-color: #9eabe4;
    background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
    border: 3px solid #77eed8;
  }
  .c55 {
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    border: 3px solid #6782b4;
  }
  .c56 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border: 3px solid #182848;
  }